.account-wrapper {
    width: 100%;
    background-image: url('../../../../../../assets/images/login/login-bg.jpg');
    background-size: cover;

    .account-content {
        width: clamp(360px, 50vw, 400px);

        .change-language {
            top: -50px;
            right: 0;

            &.rtl {
                right: unset;
                left: 0;
            }

            .main-btn {
                border-radius: 4px !important;
                box-shadow: 0 0 20px 0 rgba(114, 159, 197, 0.1);
            }
        }
    }
}

::ng-deep .mat-form-field {
    &.mat-form-field-appearance-fill {
        .mat-form-field-wrapper {
            .mat-form-field-flex {
                background-color: white;
            }
        }
    }
}
