::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.6375em 0;

    .mat-form-field-label-wrapper {
        .mat-form-field-label {
            margin: 0;
            line-height: normal;
        }
    }
}