::ng-deep app-input-text {
    width: 100%;
    
    
    .mat-mdc-form-field-label-wrapper {
        top: -1.24375em;
        
        .mat-mdc-form-field-label {
            margin: 0;
            line-height: normal;
        }
    }
    
    .mat-mdc-form-field-appearance-legacy .mat-form-field-infix {
        padding: .6375em 0;
    }

    textarea.mat-mdc-input-element {
        line-height: 1.5;
    }
}