::ng-deep app-input-text {
    width: 100%;

    .mat-form-field-label-wrapper {
        top: -1.24375em;

        .mat-form-field-label {
            margin: 0;
            line-height: normal;
        }
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: .6375em 0;
    }

    textarea.mat-input-element {
        line-height: 1.5;
    }
}