@import "style";

:host ::ng-deep.mat-mdc-checkbox {
    
    .mat-mdc-checkbox-layout {
        margin: 0;
    }

    .mat-ripple-element {
        background-color: $primary;
    }
    
    
    &.mat-mdc-checkbox-checked,
    &.mat-mdc-checkbox-indeterminate {
        &.mat-bg-primary {
            
            .mat-mdc-checkbox-background {
                background-color: $primary;
            }
        }
    }
}