::ng-deep.login-card {
    border-radius: 8px;
    box-shadow: 0 0 20px 0px rgba(170, 180, 187, 0.5) !important;

    .login {
        &.animate {
            position: relative;
            transition: all 0.5s ease-in;
            animation: move 0.5s;
        }

        .mat-mdc-form-field {
            &.mat-form-field-appearance-fill {
                /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
                /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
                /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
                .mat-mdc-form-field-wrapper {
                    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
                    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
                    .mat-mdc-form-field-flex {
                        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
                        .mat-mdc-form-field-prefix {
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            flex: 32px 0;
                            padding-inline-start: 3px;
                            padding-inline-end: 9px;
                        }
                    }
                }
            }
        }
    }
}

@keyframes move {
    0% {
        top: 50px;
    }

    100% {
        top: 0;
    }
}