@import "style";

::ng-deep .mat-toolbar {
    height: 60px;
    position: relative;
    z-index: 5;
    background-color: $white;
    color: $black;
    box-shadow: 3px 0 10px 0 rgba(183, 192, 206, 0.2);

    .mat-mdc-list {
        .mat-mdc-list-item {
            .mat-mdc-list-item-content {
                padding: 0 !important;
            }

        }
    }
}

::ng-deep .mat-mdc-list-item,
.mat-mdc-list-option {

    width: unset !important;

}