@import "style";

::ng-deep.sidebar-wrapper {
  width: 0;
  max-width: 240px;
  background-color: $white;
  transition: all 0.4s ease;

  * {
    transition: all 0.25s ease;
  }

  @include small-screen {
    width: 70px;
    min-width: 70px;
  }

  &.opened {
    width: 240px;

    .sidebar-content {
      opacity: 1;
      width: 240px;

      .each {
        transform: translate(0, 0) !important;
      }
    }
  }

  .sidebar-logo {
    height: 60px;
    min-height: 60px;

    button {
      width: 70px;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    .sidebar-title {
      opacity: 0;
      min-width: max-content;

      &.show {
        opacity: 1;
      }
    }
  }

  .sidebar-content {
    padding-top: 40px;
    background-color: rgba(0, 0, 0, 0.2);

    .mat-mdc-list {
      .mat-mdc-list-item {
        padding: 0 !important;
        height: max-content !important;
        .mat-mdc-list-item-content {
          padding: 0 !important;
        }
      }
    }
  }
}