button {
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
  .mat-mdc-button-focus-overlay {
    background: $white !important;
  }
}

.btn-disabled {
  background-color: transparent !important;
}



.main-btn {
  border-radius: 0 !important;
  min-height: 30px;
  height: 30px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  // transition: none;

  // * {
  //   transition: none;
  // }

  &:disabled {
    color: $white !important;
    background-color: #e3e5ee !important;
    // border: 1.5px solid #e3e5ee !important;
  }

  &.white {
    background-color: $white !important;
    color: $primary;


  }

  &.main {
    background-color: $primary !important;
    color: $white !important;

    &:disabled {
      color: $white !important;
      background-color: #e3e5ee !important;
    }
  }

  &.light {
    background-color: $primary-light !important;
    color: $white !important;
  }

  &.secondary {
    background-color: $secondary !important;
    color: $white;

    &:disabled {
      background-color: #e3e5ee !important;
      color: #ccc !important;
    }
  }

  &.rounded {
    border-radius: 50px !important;
  }

  &.dark {
    background-color: $dark !important;
    color: $white !important;
  }

  &.flat {
    border: none !important;
    color: $primary !important;
  }

  &.strock {
    border: 1.5px solid $dark !important;
    color: $black !important;
    background-color: transparent !important;

    &.active {
      background-color: $primary !important;
      color: $white !important;
    }
  }

  &.strock-bg {
    background-color: $white !important;
    border-color: $primary !important;
    color: $primary !important;

    &.active {
      background-color: $primary !important;
      color: $white !important;
    }

    &.danger {
      background-color: $white !important;
      border-color: $error !important;
      color: $error !important;
    }
  }

  &.error {
    border-color: $error !important;
  }

  &.w-max {
    min-width: max-content !important;
  }

  &.bg-transparent {
    border: 1.5px solid transparent !important;
  }

  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
  .mat-mdc-button-wrapper {
    display: flex;
    width: 100%;
    line-height: 32px;
  }
}