.text-dark {
  color: $dark  !important;
}

.text-primary {
  color: $primary  !important;
}

.text-primary-light {
  color: $primary-light;
}

.text-secondary {
  color: $secondary  !important;
}

.text-middle {
  color: $middle  !important;
}

.text-light {
  color: $light  !important;
}

.text-success {
  color: $success  !important;
}

.text-error {
  color: $error  !important;
}

.text-pending {
  color: $pending  !important;
}

.text-blue {
  color: $dark-blue  !important;
}

.text-start {
  text-align: start !important;
}

// bg
.bg-primary {
  background-color: $primary  !important;
}

.bg-primary-light {
  background-color: $primary-light;
}

.bg-primary-light-2 {
  background-color: rgba($color: $primary-light, $alpha: 0.023);
}

.bg-secondary {
  background-color: $secondary  !important;
}

.bg-middle {
  background-color: $middle  !important;
}

.bg-light {
  background-color: $light  !important;
}

.bg-success {
  background-color: $success-light  !important;
}

.bg-error {
  background-color: $error  !important;
}

.bg-error-light {
  background-color: $error-light  !important;
}

.bg-purple {
  background-color: $purple  !important;
}

.bg-blue {
  background-color: $blue-light  !important;
}

.border-purple {
  border: 1px solid $purple;
}

.cursor-pointer {
  cursor: pointer;
}

.h-40 {
  height: 40px;
}

.w-80 {
  width: 100%;

  @include small-screen {
    width: 80%;
  }
}

.w-85 {
  width: 85%;
}

.bottom-0 {
  bottom: 0;
}

.border-thin {
  border-width: .5px !important;
}

.title-border-bottom {
  border-bottom: 2px solid #dde0e2;
}

.border-primary {
  border-color: $primary  !important;
}

.border-primary-light {
  border-color: rgba($color: $primary, $alpha: .5) !important;
}

.border-error {
  border-color: $error  !important;
}

.border {
  border: 1px solid #dde0e2 !important;
  border-radius: 1px;
}

.border-radius-0 {
  border-radius: 0;
}

.border-radius-2 {
  border-radius: 2px !important;
}

.border-radius-4 {
  border-radius: 4px !important;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-50 {
  border-radius: 50%;
}

.box-shadow {
  box-shadow: 0 0 10px 0 rgb(52 58 64 / 40%);
}

// margin
.m-inline-start-1 {
  margin-inline-start: 0.25rem !important;
}

.m-inline-start-2 {
  margin-inline-start: 0.5rem !important;
}

.m-inline-start-3 {
  margin-inline-start: 1rem !important;
}

.m-inline-start-4 {
  margin-inline-start: 1.5rem !important;
}

.m-inline-end-1 {
  margin-inline-end: .25rem !important;
}

.m-inline-end-2 {
  margin-inline-end: .5rem !important;
}

.m-inline-end-3 {
  margin-inline-end: 1rem !important;
}

.m-inline-end-4 {
  margin-inline-end: 1.5rem !important;
}

// padding
.p-inline-start-1 {
  padding-inline-start: 0.25rem !important;
}

.p-inline-start-2 {
  padding-inline-start: 0.5rem !important;
}

.p-inline-start-3 {
  padding-inline-start: 1rem !important;
}

.p-inline-start-4 {
  padding-inline-start: 2rem !important;
}

.p-inline-start-5 {
  padding-inline-start: 4rem !important;
}

.p-inline-end-1 {
  padding-inline-end: .25rem !important;
}

.p-inline-end-2 {
  padding-inline-end: .5rem !important;
}

.p-inline-end-3 {
  padding-inline-end: 1rem !important;
}

.p-inline-end-4 {
  padding-inline-end: 2rem !important;
}

.p-inline-end-5 {
  padding-inline-end: 4rem !important;
}

.xl-p-inline-end-5 {
  @include normal-screen {
    padding-inline-end: 4rem !important;
  }
}

// badge
.badge-circle {
  width: 35px;
  min-width: 35px !important;
  height: 35px;
  max-height: 35px !important;
  border-radius: 50% !important;
}

.badge-square {
  width: 30px;
  min-width: 30px !important;
  height: 25px;
  max-height: 25px !important;
  border-radius: 2px !important;
}

.w-max {
  width: auto;
  min-width: max-content;
}

.page-wrapper {
  padding: 1.5rem clamp(1rem, 5vw, 2.5rem) !important;
}

.p-x {
  padding-inline: clamp(1rem, 5vw, 2.5rem) !important;
}

.page-title {
  font-size: clamp(1.2rem, 1.9vw, 2.5rem) !important;
}
