@import "style";
@import "basics/typography";

/* action icon style */

.actions {
    * {
        display: flex;
    }
}

.icon {
    font-size: 22px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

::ng-deep app-table {
    p-table {
        display: block;
        width: 100%;
        height: 100%;
        overflow: auto;

        @include small-screen {
            overflow: unset;
        }

        .p-datatable {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .p-datatable-wrapper {
                height: 100%;

                .p-datatable-table {
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    .p-datatable-thead,
                    .p-datatable-tbody {
                        tr {
                            display: flex !important;
                            align-items: center;
                            min-height: 48px;
                            background-color: transparent;
                            border: none;
                            border-bottom-width: 1px;
                            border-bottom-style: solid;
                            border-bottom-color: rgba(0, 0, 0, .12);

                            th,
                            td {
                                display: flex !important;
                                align-items: center;
                                flex: 1;
                                min-height: inherit;
                                padding: 0;
                                background: transparent;
                                text-align: start;
                                color: $dark;
                                transition: none;

                                &:first-of-type {
                                    padding-inline-start: 24px;
                                    flex: 1.5;
                                }

                                &.actions {
                                    padding-inline-end: 24px;
                                    justify-content: flex-end !important;
                                }

                                span {
                                    max-width: 220px;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    @extend .font-14;
                                }
                            }
                        }
                    }

                    .p-datatable-thead {
                        display: flex;
                        flex-direction: column;

                        tr.table-header {
                            border-top: 4px solid #dcdcdc;
                            border-bottom-color: rgba(0, 0, 0, .12);
                            background-color: rgba($color: #dde0e2, $alpha: 0.37);

                            th {
                                font-weight: 600;

                                // &[ng-reflect-p-sortable-column-disabled = "true"] {
                                //     p-sorticon {
                                //         display: none;
                                //     }
                                // }

                                .p-sortable-column-icon {
                                    margin-inline-start: .5rem;
                                }
                            }
                        }

                        tr .has-search {
                            input::placeholder {
                                font-size: .8rem;
                            }
                        }
                    }

                    .p-datatable-tbody {
                        height: 100%;

                        tr.table-body {
                            &:hover {
                                cursor: pointer;
                                background-color: rgba(221, 224, 226, 0.59);
                            }

                            &.specificExpression {
                                background-color: $error-light;
                            }

                            td {
                                justify-content: unset;
                                border: none;
                            }
                        }
                    }
                }
            }

            p-paginator {
                .p-paginator {
                    height: 3rem;
                    padding: 0;
                    border: none;
                    border-bottom: 4px solid #dcdcdc;
                    border-top-color: rgba(0, 0, 0, .12);
                    background-color: rgba($color: #dde0e2, $alpha: 0.37);

                    .p-paginator-current {
                        display: none;
                    }

                    .p-paginator-element {
                        min-width: 2rem;
                        height: 2rem;
                        margin: 0;

                        &:first-of-type {
                            margin-inline-end: .5rem;
                        }

                        &:last-of-type {
                            margin-inline-start: .5rem;
                        }
                    }

                    .p-paginator-pages {
                        margin-inline: .5rem;

                        .p-paginator-element {
                            &.p-highlight {
                                background: $secondary;
                                color: $primary;
                            }
                        }
                    }

                    p-dropdown {
                        &.p-element.p-inputwrapper {
                            height: 2rem;

                            .p-dropdown.p-paginator-rpp-options {
                                height: 2rem;
                                background: transparent;
                                border: none;
                                outline: none;
                                box-shadow: none;

                                .p-dropdown-label {
                                    padding-block: 0;
                                    padding-inline: 1rem 0;
                                    display: flex;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}